#bakery{
    min-width: 250px;
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: rgb(3,3,11);
    background: linear-gradient(0deg, rgba(3,3,11,0.9542191876750701) 14%, rgba(0,0,0,0.12788865546218486) 40%, rgba(0,0,0,0.738532913165266) 89%);
}


#cookiesStock{
    font-size: 22px;
}

#cookies{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);   
}

#bigCookie{
   width: 225px;
   height: 225px;
   background-image: url("../images/perfect-cookie.png");
   background-size: cover;  
   margin-top: 50%;
   
   border-radius: 100%;    /* Trouver pk cercle noir arrière  */
   box-shadow: 0px 1px 70px ;
}

/* survol curser pointer, image s'agrandie */
#bigCookie:hover{
    cursor: pointer;
    transform: scale(1.1);   
}

/* clic image rétrécit 0.95 fois taille d'origine  */
#bigCookie:active{
    transform: scale(0.95);   
}




