#production{
    min-width: 500px;
    flex: 2;
    background: linear-gradient(180deg, rgba(18, 17, 17, 0.738532913165266) 7%, rgba(0,0,0,0.12788865546218486) 25%);
}
hr {
    background-image: url("../images/panel-horizontal.png");
    height: 16px;
    margin-top: 15px;
    border: none;
}
