/* Tuile cursor */
#buildings > div {
    width: 100%;
    height: 62px;
    position: relative;
    top: 17px;
    display: flex;
    align-items: center;
    background: url("../images/store-tile.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: ease-in-out;    
}

#buildings > div:hover{
    box-shadow: 0px 0px 15px 3px #ffffff inset;
}

.container{
    padding-left: 20px;  
}

.icon {
    background: url("../images/buildings.png") no-repeat;
    width: 60px;
    height: 60px;
    position: relative;
    left: -4px;
}
 
.name, .cost {
    font-weight: bold;
    text-shadow: 0 0 4px #000000, 0 1px 4px #000000;
}
.name {
    font-size: 1.3em;
}
.cost {
    font-size: 0.7em;
    color: #66ff66;
    display: flex;
}
#buildings > div.name{
    font-size: 1.3rem;  
}
.cost::before{
    content: url("../images/money.png");
    padding-right: 5px;
}
.disabled .cost {
    color: #ff6666;
    filter: grayscale(50%);
}
.disabled {
    filter: brightness(40%);
}
.enabled .cost {
    color: #66ff66;;
}

.unlocked .icon{
    background-position-x: 0px; 
}
.locked .icon {
    background-position-x: -65px;
}

/* Tuile  Grandma */
#building-grandma .icon{
    background-position-y: 6%; 
}

/* Tuile  Farm */
#building-farm .icon{
    background-position-y: 18%; 
}

/* Tuile  Mine */
#building-mine .icon{
    background-position-y: 23.5%; 
}
/* Tuile  Factory*/
#building-factory .icon{
    background-position-y: 29.5%; 
}