/* Tuile cursor */
#buildings #building-cursor{
    width: 100%;
    height: 8.5vh;
    position: relative;
    top: 17px;
    display: flex;
    align-items: center;
    background: url("../images/store-tile.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;     
}

#buildings #building-cursor:hover{
    box-shadow: 0px 0px 15px 3px #ffffff inset;
}

#buildings #building-cursor .container{
    padding-left: 10px;  
}

#buildings #building-cursor .icon{
    width: 20%;
    height: 7vh;
    background: url("../images/buildings.png") no-repeat;
    background-position-x:30%; 
}
 
#buildings #building-cursor .name , .cost{
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.0);
}

#buildings #building-cursor .name{
    font-size: 1.3rem;  
}

#buildings #building-cursor .cost{
 position: relative;
 display: flex;
 /* justify-content: space-between; */
} 

.cost::before{
    content: url("../images/money.png");
    padding-right: 5px;
}

#buildings #building-cursor .locked{
    color: #ff6666;    
}

#buildings #building-cursor .disabled{
    color: #ff6666;
    filter: grayscale(50%);
} 



/* Tuile  Grandma */

/* Tuile  Farm */

/* Tuile  Mine */

/* Tuile  Factory*/