#store{
    min-width: 150px;
    max-width: 300px;
    flex: 1;
    background: linear-gradient(0deg, rgba(3,3,11,0.9542191876750701) 14%, rgba(0,0,0,0.12788865546218486) 40%, rgba(0,0,0,0.738532913165266) 89%);

}

#buildings {
    background-image: url('../images/panel-horizontal.png');
    margin-top: 15px;
    min-height: 16px;
}
#buildings::before {
    content: "Buildings";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 4px #000000, 0 1px 4px #000000;
}
#buildings:hover::before {
    font-size: 14px;
    color: rgb(255, 174, 0);
}


